
<!-- A. 
	You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML.-->

<!--code -->

<input type="text" id="fname" name="fname" maxlength="20"/>

<!--A1. https://www.w3schools.com/tags/att_input_maxlength.asp -->

<!--A2. https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/maxlength -->

<!--A3. https://stackoverflow.com/questions/8545376/limit-number-of-characters-allowed-in-form-input-text-field -->

<!--A4. https://www.geeksforgeeks.org/how-to-specify-minimum-maximum-number-of-characters-allowed-in-an-input-field-in-html/ -->

<!--A5. https://www.youtube.com/watch?v=Yp7h-LbJ4Bc -->


<!-- B.
	You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<!--code-->
<img src="magandaako.jpg" alt="Magiging Full Stack Developer To!" width="500" height="600"/>

<!-- B1. https://www.w3schools.com/TAGS/att_img_alt.asp -->

<!-- B2. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img -->


<!-- B3. https://www.youtube.com/watch?v=sv4cI3Wjdu4 -->


<!-- C. 
	You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor?-->

<!-- code-->
<code>
#include<stdio.h>
int main() {
    printf("Hello guiz, welcome to my vlog.");
}
</code>

<!-- C1. https://www.geeksforgeeks.org/html-code-tag/-->

<!-- C2. https://www.w3schools.com/TAGs/tryit.asp?filename=tryhtml_phrase_code_css -->

<!-- C3. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->


<!-- C4. https://www.youtube.com/watch?v=e5SQ6Ckz1uY -->

<!-- D.
	Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->


<!-- code-->
<div class="MagicScroll" data-options="step: 0; speed: 4000;">
    <img src="example1.jpg">
    <img src="example2.jpg">
    ...
</div>


<!-- D1. https://www.magictoolbox.com/magicscroll/integration/ -->

<!-- D2. https://css-tricks.com/infinite-all-css-scrolling-slideshow/ -->

