/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

nav {
	/*shorthand property*/
	padding:0.8rem;
	margin-bottom: : 2rem;
	border: 1px solid gray;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	/*change display the behavior of the elements*/

}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: : 3rem;
	text-align:center;
}

.header {
	text-align:center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	border:0;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer span{
	margin-left: 0.5rem;

}

#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;

}

#pre-footer div {
	text-align: left;
	width: 20%;
}


#pre-footer .four {
	display: inline-block;
	vertical-align: bottom;
	margin-top: .3rem;
	margin-bottom: .3rem;
	line-height: 2rem;
}


/*Margin vs Padding */

/*Margin is best used when creating space between elements*/
/*Padding  is best when creating space between element's border and its contetn*/