* {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: purple;
	background-color: cornflowerblue;
	font-weight: bolder;

}

h1 {
	text-decoration: underline;
}
p {
	font-style: italic;
}

div {
	text-align: center;
	margin-top: 100px;
}

img {
	height:350px;
	width:250px;
	/*optional: pero nilagay ko pa din para code aesthetics */
	border-radius: 50%;
}