* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Open Sans;
}

/*https://alvarotrigo.com/blog/sticky-navbar/#:~:text=To%20create%20a%20sticky%20navbar%2C%20you%20use%20the%20position%3A%20fixed,stick%20to%20its%20parent%20element.https://alvarotrigo.com/blog/sticky-navbar/#:~:text=To%20create%20a%20sticky%20navbar%2C%20you%20use%20the%20position%3A%20fixed,stick%20to%20its%20parent%20element.*/
nav{

	padding: 10px;
	position: sticky;
	top:0px;
	z-index: 3;
	width: 100vw;
	background-color: #FFF;
	border-bottom: 1px solid gray;
	margin-bottom: : 2rem;
	display: inline-block;

}

nav > ul > li+div {
	
/*	display: inline;*/
	padding:10px;
	margin-bottom: : 2rem;

	background-color: white;
	text-align: right;

}


.nav-logo, #logo, .nav , .tuitt-button {

	display: inline;
	/*position: sticky;*/


}

#logo {

}

.right-nav {
	float: right;
}


.tuitt-button , .apply-button {
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	width: 150px;
	font-size: 1rem;
	padding: 1rem;
	border:0;
	text-align: center;
	vertical-align: center;
}

.nav {
	margin: 10px;
	position:relative;
}

.front-bg {
	
	background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
	background-size: 100%;
	
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;


} 


.front-bg , .container {
	height: 50vh;
	width: 100vw;
	position: relative;
}

.container {
	text-align: right;
	color: white;
	background-color: rgba(0,0,0,50%);
	

}

.title, .subtitle, .apply-button{
	margin-right: 100px;
	margin-left: 50%;
	margin-bottom: 3%;
	position: relative;


}
.title {
	font-size: 2rem;
	font-family: Zilla Slab, sans-serif;
	margin-top: 2rem;
	margin-bottom: 2em;

}

.subtitle {

	font-size: 1em;
	font-weight: lighter;

}

.intro, .title-2, .intro-description {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
}

.title-2, .intro-description {
	margin: 5% 0;
	line-height: 1;
}

.title-2 {
	font-size: 1.3em;
	font-family: Zilla Slab, sans-serif;
	text-align: center;
	font-weight: bold;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 1rem;
	text-align: center;
	padding-bottom: 4rem;
}

.prefooter-description {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	line-height: 1;
}

.intro-description, .prefooter-description {
	font-size: .8rem;
}

.book-button {
	margin-top: 10px;
	background-color: #336589;
	color: white;
	border-radius: 25px;
	padding: 0.5rem 1rem;
	width: 120px;

}

footer, span {
	text-align: center;
	margin-right: 1rem;
	font-size: 0.5rem;

}
