/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Bootstrap Font*/
body {
	font-family: "Helvetica Neue", sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}

.p-3 {
	padding: 15px;
}

.bg-success {
	background-color: forestgreen;
}

.bg-warning {
	background-color: orange;
}

.bg-danger {
	background-color: darkred;
}


/* CSS and Bootstrap FLexbox */

.d-flex {
	display: flex; /*block level based*/
}

.justify-content-center {
	justify-content: center; /*ROW-HORIZONTALLY ALIGN: allow to align the position of elements horizontally */
}

.align-items-center {
	align-items: center; /*ROW-VERICAL ALIGN: vertcally align the elements*/
}

.flex-column-reverse {
	flex-direction: column-reverse; /*COLUMN */
}