#div-1 {
	/*ctrl+shift+/ */
	background-color: green;
	/*display: block;*/
	display: inline;
	/*we turned block elements into inline*/
}

#span-1 {
	background-color: purple;
	/*display: inline;*/
	display: inline-block;
	/*display: none;*/
	width: 200px; /* the width and height of our span will not change-display: inline */
	height:200px;

}


#span-2 {
	background-color: pink;
	display: block;
	/*an inline can be displayed as a block*/

}

#div-2 {
	background-color: red;
	display: none;
}

#img {
	display: inline-block;
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #87CEFA;
	/*hex code*/

}

#p-2 {
	background-color: rgb(255, 105, 108);
	/*color value of rgb*/
}

#p-3 {
	background-color: yellow;
	width:40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/*Float Property*/
.img-float {
	width: 250px;
	height: 250px;
	float: right; /*values: inherit,left, right*/
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width:135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

.one-rem {
	font-size: 1rem;
}

.two-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

/*  rem - root HTML
	em - parent 
*/

.two-hundred-percent {
	font-size: 200%;
}

/*CSS Background Properties*/

.background {
	/*min-height: 20rem;*/ /*20 x 16px */

	min-height: 100vh;
	background-color: gray;
	background-image: url('https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg');
	background-repeat: no-repeat;
	/*background-size: 100%;*/ /*values: auto, 100%, 500px, 200%*/
	background-size: 100%;
	/*background-position: center center;*/
	background-position: center top;
	background-attachment: fixed;

}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;

}

.container-bg {
	background-color: rgba(0,0,0,0.5);
	min-height: 100vh;
}

/*CSS Positioning*/
.parent-element {
	background-color: :skyblue;
	/*padding: 10px;*/
	padding: 50px 10px;
	position: relative;
	/*height: 100px;*/
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky; /*values: static, relative, absolute, fixed, */
	/*top:0;*/
	top: 10px;
	left: 10px;
	bottom: 10px;
	
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*Z Index*/

.container {
	position: relative;
	
}

.black-box {
	position: absolute;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightseagreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}