p#external {
	color:yellow;
}


/*universal*/
/*Change the font-family and the font size of all elements using the universal selector.*/
* {
	font-size: 5px;
	font-family: Arial;
}

/*type*/
/*Change the font-size of h1 tags using a type selector.*/
h1{
	font-size: 10px;
}

/*id */
/*Change the text to all uppercase letters for h2 tags using an id selector.*/
#upper{
	text-transform: uppercase;
}

/*class*/
/*Change the background colors of the languages to be learned list items using a class selectors. */
.languages{
	background-color: #0F0;
}

/*attribute*/
/* Change the border of the tools to be used to list items using attribute selectors.*/
li[type] {
	border: blue solid 1px;
}

/*adjacent sibling */
/*Change the list style type of the other things to be learned using an adjacent sibling selector.*/
img + ul {
	list-style-type: none;
}

/*descendant*/
/*Change the dimensions of the image tag using a descendant selector.*/
section img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/*general sibling*/
/* Change the alignment of the last paragraph using a generic sibling selector.*/
h4 ~ p {
	text-align: center;
}

/*child */
/*Change the letter spacing of the other things to be learned list items using a child selector.*/

body > section > ul > li  {
	letter-spacing: 1.5px;

}